@using Data.Models.Extensions
@model EmUzerWeb.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<link href="~/Content/common.css" rel="stylesheet" />
<link href="~/Content/manage.css" rel="stylesheet" />

<div id="heading">
    <h2>@ViewBag.Title.</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <h4>Change your account settings</h4>
</div>

<div>
    <hr />
    <div class="profilePictureTab">
        <img src="@Model.ProfilePicturePath"/>

        @Html.ActionLink("Get Picture From Facebook ", "GetFacebookPicture")
    </div>
    <hr />
    <div id="actions">
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword", new { }, new { @class = "btn btn-default" })
        }
        else
        {
            @Html.ActionLink("Create a password", "SetPassword", new { }, new { @class = "btn btn-default" })
        }

        @Html.ActionLink("Manage External Logins", "ManageLogins", new { }, new { @class = "btn btn-default" })
    </div>
</div>
